@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/background-image.jpg);
    background-size: 100%;
    background-position: center bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.logo {
    margin-top: 32px;
    margin-left: 64px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.logo-text {
    margin-top: 40px;
    margin-left: 12px;
    font-family: "Work Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
}

h1 {
    color: white;
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 25px;
}

h2 {
    color: white;
    padding-bottom: 14px;
}

p {
    color: white;
}

.main-text > p {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    line-height: 160%;
    color: white;
    width: 368px;
}

.parent {
    width: 100%;
    height: 120px;
    display: flex;
    background-color: rgba(43, 64, 127, 0.3);
}

.child1 {
    width: 50%;
    display: flex;
}

.child2 {
    margin-top: 44px;
    padding: 0 24px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.content {
    padding-top: 100px;
    min-height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

.main-text {
    margin-top: 50px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 80px;
    margin: 0 auto;
    width: 450px;
    height: 500px;
}

.main-text > h1 {
    width: 450px;
}

.main-image {
    padding-left: 100px;
    width: 50%;
    margin-left: auto;
}

@media (max-width: 900px) {
    body {
        background-size: cover;
        background-position: center top;
    }

    .content {
        width: 100%;
        flex-shrink: 0;
    }

    .main-text, .main-image {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        text-align: center;
    }

}

img {
    width: 100%;
    min-width: 400px$;
    max-width: 500px;
}

.line {
    height: 1px;
    background-color: white;
    margin: 0 60px;
}

.footer {
    width: 100%;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.email {
    padding: 36px 0 0 56px;
    width: 25%;
}

.github {
    margin: 36px 0 0 0;
    width: 25%;
}

.instagram {
    width: 25%;
    margin: 36px 0 0 0;
}

.copyright {
    width: 25%;
    margin: 36px 0 0 0;
}

ul {
    list-style-type: none;
}

li {
    border-right: 1px solid #ffffff;
    height: 24px;
    padding-right: 12px;
    padding-left: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
}

li:last-child {
    border-right: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: lightblue
}
